# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual environment
venv/
env/
.venv/
.env/

# Environment variables
*.env

# MacOS and Windows files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm / VSCode settings
.idea/
.vscode/

# Logs
*.log

# Compiled or packaged files
build/
dist/
*.egg-info/

# Temporary files
tmp/
*.tmp
